.ka{
	
	height: 40px;
	width: 55px;
	background: red;
	border: ;
	border-radius: 10px;
}

.kk {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid white;
}